body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;

  background-image: url("marks-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}


 
 

.login-container {
  background: rgba(248, 247, 247, 0.377);
  padding: 30px;
  border-radius: 10px;
}


input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#message {
  margin-top: 10px;
  font-weight: bold;
}
.help-text {
    font-size: 13px;
    color: #555;
    text-align: center;
    margin-top: 10px;
}

